<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="/resource/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link rel="stylesheet" href="/resource/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/resource/css/style.css">



</head>
<body>

<header>
    <form>
        <div class="form-group row">
            <div class="col-4">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
        </div>
        <button type="button" id="btnCreate" class="btn btn-primary">Create category</button>
    </form>
</header>
<div class="card-body">
    <h4 class="header-title">Danh mục </h4>
    <table id="basic-datatable" class="table dt-responsive nowrap">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="tbList">
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal update category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-1">
                            <label for="idE">ID</label>
                            <input type="text" class="form-control" id="idE" readonly>
                        </div>
                        <div class="col-3">
                            <label for="nameE">Name</label>
                            <input type="text" class="form-control" id="nameE">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="/resource/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="/resource/bootstrap-4.6.0-dist/js/bundle.js"></script>
<script src="/resource/bootstrap-4.6.0-dist/js/bootstrap.js"></script>

<script src="/resource/js/sweetalert2.min.js"></script>
<script src="/resource/page/js/app.js"></script>


<script>
    let category = new Category();

    $("#btnCreate").on("click", function () {
        create();
    })

    $("#btnUpdate").on("click", function () {
        update();
    })

    function handleDelete() {
        $("table tbody tr").on("click", ".delete", function () {
            let id = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: "/api/category/delete/" + id,
                        type: "GET"
                    }).done(function (resp) {

                        console.log(resp)

                        if (resp === true) {

                            $("#tr_" + id).remove();

                            Swal.fire(
                                'Deleted!',
                                'This category has been deleted.',
                                'success'
                            )
                        } else {
                            alert("UnSuccess deleted")
                        }

                    }).fail(function () {
                        alert("UnSuccess deleted 2")
                    });

                }
            })

        });
    }

    function handleEdit() {
        $("table tbody tr").on("click", ".edit", function () {
            let id = $(this).data("id");

            console.log("id = " + id);


            $.ajax({
                headers: {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
                url: "/api/category/" + id,
                type: "GET"
            }).done(function (resp) {
                $("#idE").val(resp.id);
                $("#nameE").val(resp.name);
            }).fail(function () {
                alert("ERROR")
            });
        })
    }

    function create() {
        category.id = $("#id").val();
        category.name=$("#name").val()

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/category/create",
            type: "POST",
            data: JSON.stringify(category)

        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="tr_${resp.id}">
                            <th scope="row">${resp.id}</th>
                            <td>${resp.name}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                    data-id="${resp.id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete" data-id="${resp.id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>

                        </tr>
                `;

            $("#tbList").prepend(str);


            handleEdit();

            handleDelete();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function update() {

        category.id = $("#idE").val();
        category.name = $("#nameE").val();

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/category/update",
            type: "POST",
            data: JSON.stringify(category)
        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="tr_${resp.id}">
                        <th scope="row">${resp.id}</th>
                        <td>${resp.name}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                data-id="${resp.id}"
                            >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger delete" data-id="${resp.id}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                `;
            $("#tr_"+ category.id).replaceWith(str);
            $("#updateModal").model("hide");

            handleEdit();

            handleDelete();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function getAllCategory() {
        return $.ajax({
            url: "/api/category",
            type: "GET"
        }).done(function (resp) {

            let str = '';

            $.each(resp, function(index, item) {
                str = `
                    <tr id="tr_${item.id}">
                        <th scope="row">${item.id}</th>
                        <td>${item.name}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                data-id="${item.id}"
                            >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger delete" data-id="${item.id}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                `;
                $("#tbList").prepend(str);
            })

            handleEdit();

            handleDelete();
        }).fail(function () {
            alert("ERROR")
        });
    }

    $(document).ready(function () {
        getAllCategory();
    });

</script>
</body>
</html>

